Список продуктов:
{{#products}}
    {{index}}. {{name}}
{{/products}}

Для удаления продукта напишите его название, а для удаления нескольких продуктов напишите их номера или удалите все через меню.
Пример: 1, 2, 3 или 1 2 3.