Список мест:
{{#places}}
    {{index}}. {{name}}
{{/places}}

Для удаления места напишите его название, а для удаления нескольких мест напишите их номера или удалите все через меню.
Пример: 1, 2, 3 или 1 2 3.